:root {
  --transparent: rgba(0, 0, 0, 0);
  --bg: #1a1b26;
  --bg_dark: #16161e;
  --bg_dark1: #0C0E14;
  --bg_highlight: #292e42;
  --fg: #c0caf5;
  --fg_dark: #a9b1d6;
  --fg_gutter: #3b4261;
  --blue: #7aa2f7;
  --blue0: #3d59a1;
  --blue1: #2ac3de;
  --blue2: #0db9d7;
  --blue5: #89ddff;
  --blue6: #b4f9f8;
  --blue7: #394b70;
  --cyan: #7dcfff;
  --green: #9ece6a;
  --green1: #73daca;
  --green2: #41a6b5;
  --magenta: #bb9af7;
  --magenta2: #ff007c;
  --orange: #ff9e64;
  --purple: #9d7cd8;
  --red: #f7768e;
  --red1: #db4b4b;
  --teal: #1abc9c;
  --yellow: #e0af68;
  --dark3: #545c7e;
  --dark5: #737aa2;
  --comment: #565f89;
  --terminal_black: #414868;
}

body {
  color: var(--transparent);
  font-family: "FiraCode Nerd Font", ui-monospace, monospace;
  font-size: 12px;
  overflow: hidden;
}

html,
body,
#root {
  height: 100%;
}

#root {
  color: var(--fg)
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: 1em;
  background: var(--bg);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

.left {
  flex: 0;
  margin: 4px 0px 0px 10px;
  justify-self: start;
}

.center {
  margin: 4px 0px 0px 0px;
  justify-self: center;
}

.right {
  margin: 4px 10px 0px 0px;
  justify-self: end;
}

.logo {
  color: var(--blue0);
  margin-right: 20px;
}

.workspaces {
  display: flex;
  align-items: center;
}

.workspace {
  text-align: center;
  margin-right: 2px;
  padding: 3px 8px;
  background: var(--bg);
  color: var(--fg);
  border: none;
  border-radius: 1em;
  cursor: pointer;
  transition: all ease-in 0.1s;

  &.displayed {
    background: var(--bg);
  }

  &.focused,
  &:hover {
    background: var(--bg_highlight);
  }
}

.network,
.memory,
.cpu,
.battery,
.power {
  border-radius: 1em;
  padding: 4px 2px;
  margin-right: 10px;
}

.network {
  color: var(--yellow);
  background-color: var(--yellow) / 80%;
}

.memory {
  color: var(--blue);
  background-color: var(--blue) / 80%;
}

.cpu {
  color: var(--magenta);
  background-color: var(--magenta) / 80%;
}

.cpu .high-usage {
  color: var(--red1);
  background-color: var(--red1) / 80%;
}

.battery {
  position: relative;
  color: var(--green);
  background-color: var(--green) / 80%;
}

.battery .charging-icon {
  position: absolute;
  font-size: 7px;
  left: -8px;
  top: 3px;
}

.power{
  color: var(--orange);
  background-color: var(--orange) / 80%;
}
