:root {
  --opacity: 15%;
  --transparent: rgba(0, 0, 0, 0);

  --bg: #1a1b26;
  --bg_dark: #16161e;
  --bg_dark1: #0C0E14;
  --bg_highlight: #292e42;
  --fg: #c0caf5;
  --fg_dark: #a9b1d6;
  --fg_gutter: #3b4261;
  --blue: #7aa2f7;
  --blue0: #3d59a1;
  --blue1: #2ac3de;
  --blue2: #0db9d7;
  --blue5: #89ddff;
  --blue6: #b4f9f8;
  --blue7: #394b70;
  --cyan: #7dcfff;
  --green: #9ece6a;
  --green1: #73daca;
  --green2: #41a6b5;
  --magenta: #bb9af7;
  --magenta2: #ff007c;
  --orange: #ff9e64;
  --purple: #9d7cd8;
  --red: #f7768e;
  --red1: #db4b4b;
  --teal: #1abc9c;
  --yellow: #e0af68;
  --dark3: #545c7e;
  --dark5: #737aa2;
  --comment: #565f89;
  --terminal_black: #414868;

  --rgb-bg: 26, 27, 38;
  --rgb-bg_dark: 22, 22, 30;
  --rgb-bg_dark1: 12, 14, 20;
  --rgb-bg_highlight: 41, 46, 66;
  --rgb-fg: 192, 202, 245;
  --rgb-fg_dark: 169, 177, 214;
  --rgb-fg_gutter: 59, 66, 97;
  --rgb-blue: 122, 162, 247;
  --rgb-blue0: 61, 89, 161;
  --rgb-blue1: 42, 195, 222;
  --rgb-blue2: 13, 185, 215;
  --rgb-blue5: 137, 221, 255;
  --rgb-blue6: 180, 249, 248;
  --rgb-blue7: 57, 75, 112;
  --rgb-cyan: 125, 207, 255;
  --rgb-green: 158, 206, 106;
  --rgb-green1: 115, 218, 202;
  --rgb-green2: 65, 166, 181;
  --rgb-magenta: 187, 154, 247;
  --rgb-magenta2: 255, 0, 124;
  --rgb-orange: 255, 158, 100;
  --rgb-purple: 157, 124, 216;
  --rgb-red: 247, 118, 142;
  --rgb-red1: 219, 75, 75;
  --rgb-teal: 26, 188, 156;
  --rgb-yellow: 224, 175, 104;
  --rgb-dark3: 84, 92, 126;
  --rgb-dark5: 115, 122, 162;
  --rgb-comment: 86, 95, 137;
  --rgb-terminal_black: 65, 72, 104;
}

body {
  color: var(--transparent);
  font-family: "FiraCode Nerd Font", ui-monospace, monospace;
  font-size: 12px;
  overflow: hidden;
}

html,
body,
#root {
  height: 100%;
}

#root {
  color: var(--fg)
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: 1em;
  background: var(--bg);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

.left {
  flex: 0;
  margin: 4px 0px 0px 10px;
  justify-self: start;
}

/* Remove margin from the last element in the right div */
.left > *:last-child {
  margin-right: 0;
}

.center {
  margin: 4px 0px 0px 0px;
  justify-self: center;
}

.right {
  margin: 4px 10px 0px 0px;
  justify-self: end;
}

/* Remove margin from the last element in the right div */
.right > *:last-child {
  margin-right: 0;
}

.logo {
  color: var(--blue0);
  margin-right: 20px;
}

.workspaces {
  display: flex;
  align-items: center;
}

.workspace {
  text-align: center;
  margin-right: 2px;
  padding: 3px 8px;
  background: var(--bg);
  color: var(--fg);
  border: none;
  border-radius: 1em;
  cursor: pointer;
  transition: all ease-in 0.1s;

  &.displayed {
    background: var(--bg);
  }

  &.focused,
  &:hover {
    background: var(--bg_highlight);
  }
}

.network,
.memory,
.cpu,
.battery,
.power {
  border-radius: 1em;
  padding: 3px 8px;
  margin-right: 10px;
}

.network {
  color: var(--yellow);
  background-color: rgba(var(--rgb-yellow), var(--opacity));
}

.memory {
  color: var(--blue);
  background-color: rgba(var(--rgb-blue), var(--opacity));
}

.cpu {
  color: var(--magenta);
  background-color: rgba(var(--rgb-magenta), var(--opacity));
}

.high-usage {
  color: var(--red1);
  background-color: rgba(var(--rgb-red1), var(--opacity));
}

.battery {
  color: var(--green);
  background-color: rgba(var(--rgb-green), var(--opacity));
}

.low-battery {
  color: var(--red1);
  background-color: rgba(var(--rgb-red1), var(--opacity));
}

.charging {
  color: var(--teal);
  background-color: rgba(var(--rgb-teal), var(--opacity));
}

.power{
  color: var(--orange);
  background-color: rgba(var(--rgb-orange), var(--opacity));
}
